<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="mpview.MpviewExecutableExtensionFactory:mpview.MpviewSaveableTreeFormView"
            id="mpview"
            name="Measuringpoint View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertiesView">
      <excludeSources
            id="mpview.excludeSources1">
      </excludeSources>
   </extension>
</plugin>
