<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.measurementsui.extensionpoint.definition.measuringPointMetricsWorkingCombinations">
      <client
            ID="org.palladiosimulator.measurementsui.extension.contributions.client1"
            MeasuringPoint="UsageScenarioMeasuringPoint"
            MetricDescription="_NCRBos7pEeOX_4BzImuHbA"
            SuggestedMetricDescription="true">
      </client>
      <client
            ID="org.palladiosimulator.measurementsui.extension.contributions.client2"
            MeasuringPoint="UsageScenarioMeasuringPoint"
            MetricDescription="_6rYmYs7nEeOX_4BzImuHbA"
            SuggestedMetricDescription="true">
      </client>
   </extension>

</plugin>
