<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.measurementsui.extensionpoint.definition.measuringPointMetricsWorkingCombinations">
      <client
            Client_ID="org.palladiosimulator.measurementsui.extension.contributions.ResponseTimeWithUsageScenario"
            ID="ResponseTimeWithUsageScenario"
            MeasuringPoint="UsageScenarioMeasuringPoint"
            MetricDescription="_6rYmYs7nEeOX_4BzImuHbA">
      </client>
   </extension>

</plugin>
