<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="de.uni_stuttgart.enpro.newmonitor.NewmonitorExecutableExtensionFactory:de.uni_stuttgart.enpro.newmonitor.NewmonitorFormView"
            id="de.uni_stuttgart.enpro.newmonitor"
            name="Newmonitor"
            restorable="true">
      </view>
   </extension>
</plugin>
