<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="propertiespage.PropertiespageExecutableExtensionFactory:propertiespage.PropertiespageOnSelectionFormView"
            id="propertiespage"
            name="Measurement Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.palladiosimulator.simulizar.ui.perspective">
         <view
               closeable="false"
               id="propertiespage"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="de.uka.ipd.sdq.codegen.simucontroller.gui.DockStatusViewPart"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
