<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni-stuttgart.enpro.wizard.category1"
            name="wizard">
      </category>
      <wizard
            category="de.uni-stuttgart.enpro.wizard.category1"
            class="org.palladiosimulator.measurementsui.wizardmain.handlers.SampleHandler"
            id="de.uni-stuttgart.enpro.wizard.wizard2"
            name="name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.uni-stuttgart.enpro.wizard.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.uni-stuttgart.enpro.wizard.commands.category"
            id="de.uni-stuttgart.enpro.wizard.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.palladiosimulator.measurementsui.wizardmain.handlers.SampleHandler"
            commandId="de.uni-stuttgart.enpro.wizard.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.uni-stuttgart.enpro.wizard.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.uni-stuttgart.enpro.wizard.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="de.uni-stuttgart.enpro.wizard.commands.sampleCommand"
                  id="de.uni-stuttgart.enpro.wizard.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.uni-stuttgart.enpro.wizard.toolbars.sampleToolbar">
            <command
                  commandId="de.uni-stuttgart.enpro.wizard.commands.sampleCommand"
                  icon="icons/sample.png"
                  id="de.uni-stuttgart.enpro.wizard.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="test"
         name="test"
         point="org.palladiosimulator.edp2.editor.visualizations">
   </extension>

</plugin>
